FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [27]:
###query 1 RDD

import csv,time
from io import StringIO
from pyspark.sql import SparkSession


sc = SparkSession \
    .builder \
    .appName("Query 1 RDD") \
    .config("spark.executor.instances", "4") \
    .getOrCreate() \
    .sparkContext


def parse_csv_line(line):
    # Use StringIO to treat the line as a file-like object
    f = StringIO(line)
    # Use csv.reader to correctly parse the CSV line
    reader = csv.reader(f)
    return next(reader) 
def help1(data):
    try:
        age=int(data)
        if age<18 and age>0:
            return "child"
        if age<25:
            return "young adult"
        if age<65 :
            return "adult"
        if age>64:
            return "old"
        else:
            return "no individual victim"
    except:
        return "error"
    

start_time = time.time()
    
rdd1  = sc.textFile("s3://initial-notebook-data-bucket-dblab-905418150721/CrimeData/Crime_Data_from_2010_to_2019_20241101.csv")\
.map(parse_csv_line)

rdd2= sc.textFile("s3://initial-notebook-data-bucket-dblab-905418150721/CrimeData/Crime_Data_from_2020_to_Present_20241101.csv")\
.map(parse_csv_line)

header1 = rdd1.first()
header2 = rdd2.first()

# Filter out the header
rdd1_data = rdd1.filter(lambda line: line != header1)
rdd2_data = rdd2.filter(lambda line: line != header2)

crime_data = rdd1_data.union(rdd2_data) \
.filter(lambda pair: pair[9].find("AGGRAVATED") != -1 ) \
.map(lambda data: (help1(data[11]),1)) \
.reduceByKey(lambda a, b: a + b) \
.sortBy( lambda pair : pair[1], ascending=False )

print(crime_data.collect())

end_time = time.time()

print(f"Time taken: {end_time-start_time:.2f} seconds")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

[('adult', 121093), ('young adult', 38703), ('child', 10830), ('old', 5985)]
Time taken: 28.52 seconds

In [22]:
####query 1 dataframe

from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType, TimestampType
from pyspark.sql.functions import udf, col
from pyspark.sql import functions as F
import time


spark = SparkSession \
    .builder \
    .appName("Query 1 Dataframe") \
    .config("spark.executor.instances", "4") \
    .getOrCreate() 


def age_group(age_str):
    try:
        age=int(age_str)
        if age<18 and age>0:
            return "child"
        if age<25:
            return "young adult"
        if age<65 :
            return "adult"
        if age>64:
            return "old"
        else:
            return "no individual victim"
    except:
        return "error"


start_time=time.time()
dataframe1= spark.read.csv("s3://initial-notebook-data-bucket-dblab-905418150721/CrimeData/Crime_Data_from_2010_to_2019_20241101.csv", header=True)
dataframe2= spark.read.csv("s3://initial-notebook-data-bucket-dblab-905418150721/CrimeData/Crime_Data_from_2020_to_Present_20241101.csv",header=True)

age_udf=udf(age_group,StringType())
dataframe=dataframe1.union(dataframe2)\
.filter(col("Crm Cd Desc").contains("AGGRAVATED"))\
.withColumn("age_group",age_udf(col("Vict Age")))\
.groupBy("age_group").agg(F.count("*").alias("count"))\
.orderBy("count",ascending=False)


dataframe.show()


end_time = time.time()

print(f"Time taken: {end_time-start_time:.2f} seconds")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+-----------+------+
|  age_group| count|
+-----------+------+
|      adult|121093|
|young adult| 38703|
|      child| 10830|
|        old|  5985|
+-----------+------+

Time taken: 2.37 seconds

In [7]:
####query2 dataframe

from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType, TimestampType
from pyspark.sql.functions import udf, col,count,when
from pyspark.sql import functions as F
from pyspark.sql.window import Window

import time


spark = SparkSession \
    .builder \
    .appName("Query 2 Dataframe") \
    .getOrCreate() 


window_spec = Window.partitionBy("Year").orderBy(F.desc("closed_case_rate"))


start_time=time.time()


dataframe1= spark.read.csv("s3://initial-notebook-data-bucket-dblab-905418150721/CrimeData/Crime_Data_from_2010_to_2019_20241101.csv", header=True)
dataframe2= spark.read.csv("s3://initial-notebook-data-bucket-dblab-905418150721/CrimeData/Crime_Data_from_2020_to_Present_20241101.csv",header=True)



dataframe=dataframe1.union(dataframe2)\
.withColumn("year",col("Date Rptd").substr(7,4))\
.select("year","AREA NAME","Status")\
.groupBy("year","AREA NAME").agg((count(when(col("Status") != "IC", 1)) / count("*") ).alias("closed_case_rate"))\
.withColumn("#", F.row_number().over(window_spec) )\
.filter(col("#") <= 3)\
.withColumnRenamed("AREA NAME", "precinct")

dataframe.show(24)

end_time = time.time()

print(f"Time taken: {end_time-start_time:.2f} seconds")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----+-----------+-------------------+---+
|year|   precinct|   closed_case_rate|  #|
+----+-----------+-------------------+---+
|2010|    Rampart|0.32947355855318133|  1|
|2010|    Olympic|0.31962706191728424|  2|
|2010|     Harbor| 0.2963203463203463|  3|
|2011|    Olympic|0.35212167689161555|  1|
|2011|    Rampart|0.32511779630300836|  2|
|2011|     Harbor| 0.2865220520201501|  3|
|2012|    Olympic| 0.3441481831052383|  1|
|2012|    Rampart|  0.329464181029429|  2|
|2012|     Harbor| 0.2981513327601032|  3|
|2013|    Olympic| 0.3352812271731191|  1|
|2013|    Rampart| 0.3208287360549221|  2|
|2013|     Harbor| 0.2916422459266206|  3|
|2014|   Van Nuys| 0.3180567315834039|  1|
|2014|West Valley| 0.3131198995605775|  2|
|2014|    Mission| 0.3116279069767442|  3|
|2015|   Van Nuys| 0.3264134698172773|  1|
|2015|West Valley| 0.3027597402597403|  2|
|2015|    Mission|0.30179460678380154|  3|
|2016|   Van Nuys|0.31880755720117726|  1|
|2016|West Valley| 0.3154798761609907|  2|
|2016|   Foothill| 0.2987029184335246|  3|
|2017|   Van Nuys|0.32020342117429496|  1|
|2017|    Mission| 0.3103892518634398|  2|
|2017|   Foothill|0.30469226081657524|  3|
+----+-----------+-------------------+---+
only showing top 24 rows

Time taken: 9.16 seconds

In [4]:
###query2 spark sql api


from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType, TimestampType
from pyspark.sql.functions import udf, col,count,when
from pyspark.sql import functions as F
from pyspark.sql.window import Window

import time


spark = SparkSession \
    .builder \
    .appName("Query 2 SQL API") \
    .getOrCreate()


start_time=time.time()

dataframe1= spark.read.csv("s3://initial-notebook-data-bucket-dblab-905418150721/CrimeData/Crime_Data_from_2010_to_2019_20241101.csv", header=True)
dataframe2= spark.read.csv("s3://initial-notebook-data-bucket-dblab-905418150721/CrimeData/Crime_Data_from_2020_to_Present_20241101.csv",header=True)

dataframe=dataframe1.union(dataframe2)

dataframe.createOrReplaceTempView("Dataset")
query= """
    WITH extracted_data AS (
        SELECT 
            substr(`Date Rptd`, 7, 4) AS year,
            `AREA NAME` AS precinct,
            Status
        FROM Dataset
    ),
    aggregated_data AS (
        SELECT
            year,
            precinct,
            COUNT(CASE WHEN Status != 'IC' THEN 1 END)  / COUNT(*) AS closed_case_rate
        FROM extracted_data
        GROUP BY year, precinct
    ),
    ranked_data AS (
        SELECT
            year,
            precinct,
            closed_case_rate,
            ROW_NUMBER() OVER (PARTITION BY year ORDER BY closed_case_rate DESC) AS `#`
        FROM aggregated_data
    )
    SELECT 
        year,
        precinct,
        closed_case_rate,
        `#`
    FROM ranked_data
    WHERE `#` <= 3
"""
res=spark.sql(query)
res.show(24)

end_time = time.time()

print(f"Time taken: {end_time-start_time:.2f} seconds")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----+-----------+-------------------+---+
|year|   precinct|   closed_case_rate|  #|
+----+-----------+-------------------+---+
|2010|    Rampart|0.32947355855318133|  1|
|2010|    Olympic|0.31962706191728424|  2|
|2010|     Harbor| 0.2963203463203463|  3|
|2011|    Olympic|0.35212167689161555|  1|
|2011|    Rampart|0.32511779630300836|  2|
|2011|     Harbor| 0.2865220520201501|  3|
|2012|    Olympic| 0.3441481831052383|  1|
|2012|    Rampart|  0.329464181029429|  2|
|2012|     Harbor| 0.2981513327601032|  3|
|2013|    Olympic| 0.3352812271731191|  1|
|2013|    Rampart| 0.3208287360549221|  2|
|2013|     Harbor| 0.2916422459266206|  3|
|2014|   Van Nuys| 0.3180567315834039|  1|
|2014|West Valley| 0.3131198995605775|  2|
|2014|    Mission| 0.3116279069767442|  3|
|2015|   Van Nuys| 0.3264134698172773|  1|
|2015|West Valley| 0.3027597402597403|  2|
|2015|    Mission|0.30179460678380154|  3|
|2016|   Van Nuys|0.31880755720117726|  1|
|2016|West Valley| 0.3154798761609907|  2|
|2016|   Foothill| 0.2987029184335246|  3|
|2017|   Van Nuys|0.32020342117429496|  1|
|2017|    Mission| 0.3103892518634398|  2|
|2017|   Foothill|0.30469226081657524|  3|
+----+-----------+-------------------+---+
only showing top 24 rows

Time taken: 18.17 seconds

In [9]:
####2b
####make parquet dataset


from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType, TimestampType
from pyspark.sql.functions import udf, col,count,when
from pyspark.sql import functions as F
from pyspark.sql.window import Window

import time


spark = SparkSession \
    .builder \
    .appName("Query 2b write parquet") \
    .getOrCreate()

dataframe1= spark.read.csv("s3://initial-notebook-data-bucket-dblab-905418150721/CrimeData/Crime_Data_from_2010_to_2019_20241101.csv", header=True)
dataframe2= spark.read.csv("s3://initial-notebook-data-bucket-dblab-905418150721/CrimeData/Crime_Data_from_2020_to_Present_20241101.csv",header=True)
dataframe=dataframe1.union(dataframe2)

dataframe.coalesce(1).write.mode("overwrite").parquet("s3://groups-bucket-dblab-905418150721/group35/main_dataset_parquet") ##coalesce gia 1 file

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [11]:
####2b test parquet file on 2a query dataframe

from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType, TimestampType
from pyspark.sql.functions import udf, col,count,when
from pyspark.sql import functions as F
from pyspark.sql.window import Window

import time


spark = SparkSession \
    .builder \
    .appName("Query 2b test parquet for 2b Dataframe") \
    .getOrCreate()

start_time=time.time()

dataframe = spark.read.parquet("s3://groups-bucket-dblab-905418150721/group35/main_dataset_parquet")

dataframe=dataframe.withColumn("year",col("Date Rptd").substr(7,4))\
.select("year","AREA NAME","Status")\
.groupBy("year","AREA NAME").agg((count(when(col("Status") != "IC", 1)) / count("*") ).alias("closed_case_rate"))\
.withColumn("#", F.row_number().over(window_spec) )\
.filter(col("#") <= 3)\
.withColumnRenamed("AREA NAME", "precinct")

dataframe.show(60)

end_time = time.time()

print(f"Time taken: {end_time-start_time:.2f} seconds")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----+-----------+-------------------+---+
|year|   precinct|   closed_case_rate|  #|
+----+-----------+-------------------+---+
|2010|    Rampart|0.32947355855318133|  1|
|2010|    Olympic|0.31962706191728424|  2|
|2010|     Harbor| 0.2963203463203463|  3|
|2011|    Olympic|0.35212167689161555|  1|
|2011|    Rampart|0.32511779630300836|  2|
|2011|     Harbor| 0.2865220520201501|  3|
|2012|    Olympic| 0.3441481831052383|  1|
|2012|    Rampart|  0.329464181029429|  2|
|2012|     Harbor| 0.2981513327601032|  3|
|2013|    Olympic| 0.3352812271731191|  1|
|2013|    Rampart| 0.3208287360549221|  2|
|2013|     Harbor| 0.2916422459266206|  3|
|2014|   Van Nuys| 0.3180567315834039|  1|
|2014|West Valley| 0.3131198995605775|  2|
|2014|    Mission| 0.3116279069767442|  3|
|2015|   Van Nuys| 0.3264134698172773|  1|
|2015|West Valley| 0.3027597402597403|  2|
|2015|    Mission|0.30179460678380154|  3|
|2016|   Van Nuys|0.31880755720117726|  1|
|2016|West Valley| 0.3154798761609907|  2|
|2016|   Foothill| 0.2987029184335246|  3|
|2017|   Van Nuys|0.32020342117429496|  1|
|2017|    Mission| 0.3103892518634398|  2|
|2017|   Foothill|0.30469226081657524|  3|
|2018|   Foothill|  0.307089506550753|  1|
|2018|    Mission|0.30690661478599224|  2|
|2018|   Van Nuys|0.29078685730517945|  3|
|2019|West Valley| 0.3077447195094254|  1|
|2019|    Mission|0.30748519116855144|  2|
|2019|   Foothill| 0.2953842186694172|  3|
|2020|West Valley|0.31144886009717204|  1|
|2020|    Mission| 0.3038777908343126|  2|
|2020|     Harbor| 0.2988065750956992|  3|
|2021|    Mission| 0.3091391367253436|  1|
|2021|West Valley| 0.2887750349324639|  2|
|2021|   Foothill|0.28464788732394364|  3|
|2022|West Valley| 0.2664366494153728|  1|
|2022|     Harbor| 0.2633405639913232|  2|
|2022|    Topanga| 0.2627340236376948|  3|
|2023|   Foothill|  0.268215994531784|  1|
|2023|    Topanga|0.26407806464728606|  2|
|2023|    Mission|0.25941195616795054|  3|
|2024|N Hollywood|0.19514978601997146|  1|
|2024|   Foothill|0.18531827515400412|  2|
|2024|77th Street|0.17349137931034483|  3|
+----+-----------+-------------------+---+

Time taken: 1.76 seconds

In [10]:
####query 3

from sedona.spark import *
from pyspark.sql.functions import col
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
import time

# Create spark Session
spark = SparkSession.builder \
    .appName("GeoJSON read") \
    .getOrCreate()

# Create sedona context
sedona = SedonaContext.create(spark)
# Read the file from s3
geojson_path = "s3://initial-notebook-data-bucket-dblab-905418150721/2010_Census_Blocks.geojson"

start_time=time.time()
blocks_df = sedona.read.format("geojson") \
            .option("multiLine", "true").load(geojson_path) \
            .selectExpr("explode(features) as features") \
            .select("features.*")
# Formatting magic
blocks_census = blocks_df.select( \
                [col(f"properties.{col_name}").alias(col_name) for col_name in \
                blocks_df.schema["properties"].dataType.fieldNames()] + ["geometry"]) \
            .drop("properties") \
            .drop("type")
census=blocks_census.select("COMM","POP_2010","ZCTA10").na.fill({"POP_2010": 0}).groupBy("COMM","ZCTA10").agg(F.sum("POP_2010").alias("POP_2010"))


income= spark.read.csv("s3://initial-notebook-data-bucket-dblab-905418150721/LA_income_2015.csv", header=True)

res1= income.withColumn( "Estimated Median Income", F.regexp_replace(col("Estimated Median Income"), "[$,]", "").cast("float"))\
.join(census,census["ZCTA10"]==income["Zip Code"])\
.withColumn("total_income",col("Estimated Median Income")*col("POP_2010") )\
.groupBy("COMM").agg(
                    F.sum("POP_2010").alias("total_population"),
                    F.sum("total_income").alias("comm_total_income"))\
.withColumn("Average Income", col("comm_total_income")/col("total_population"))


crime_dataset = spark.read.parquet("s3://groups-bucket-dblab-905418150721/group35/main_dataset_parquet")\
.withColumn("point",ST_Point("LON", "LAT"))

res2 = crime_dataset \
    .join(blocks_census, ST_Within(crime_dataset.point, blocks_census.geometry))\
.select("COMM","POP_2010")\
.groupBy("COMM")\
.agg(F.sum("POP_2010").alias("TotalPopulation"),F.count("*").alias("NumberOfCrimes"))\
.withColumn("Crimes per Person",col("NumberOfCrimes")/col("TotalPopulation"))

res=res1.join(res2,res1["COMM"]==res2["COMM"]).select(res1["COMM"].alias("COMM"),"Average Income","Crimes per Person")

end_time = time.time()

print(f"Time taken: {end_time-start_time:.2f} seconds")



res.show(3)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

Time taken: 5.19 seconds
+-------------+-----------------+--------------------+
|         COMM|   Average Income|   Crimes per Person|
+-------------+-----------------+--------------------+
| Elysian Park|36510.13935826846|0.005002928735845...|
|  Pico Rivera|55762.81231927806|0.009708737864077669|
|Green Meadows|30576.59351193179|0.008199889186064806|
+-------------+-----------------+--------------------+
only showing top 3 rows

In [11]:
res.explain(True)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

== Parsed Logical Plan ==
'Project [COMM#2619 AS COMM#3085, 'Average Income, 'Crimes per Person]
+- Join Inner, (COMM#2619 = COMM#3050)
   :- Project [COMM#2619, total_population#2815L, comm_total_income#2817, (comm_total_income#2817 / cast(total_population#2815L as double)) AS Average Income#2821]
   :  +- Aggregate [COMM#2619], [COMM#2619, sum(POP_2010#2754L) AS total_population#2815L, sum(total_income#2799) AS comm_total_income#2817]
   :     +- Project [Zip Code#2776, Community#2777, Estimated Median Income#2782, COMM#2619, ZCTA10#2636, POP_2010#2754L, (Estimated Median Income#2782 * cast(POP_2010#2754L as float)) AS total_income#2799]
   :        +- Join Inner, (ZCTA10#2636 = Zip Code#2776)
   :           :- Project [Zip Code#2776, Community#2777, cast(regexp_replace(Estimated Median Income#2778, [$,], , 1) as float) AS Estimated Median Income#2782]
   :           :  +- Relation [Zip Code#2776,Community#2777,Estimated Median Income#2778] csv
   :           +- Aggregate [COMM#2619, ZCTA10#2636], [COMM#2619, ZCTA10#2636, sum(POP_2010#2746L) AS POP_2010#2754L]
   :              +- Project [COMM#2619, coalesce(POP_2010#2628L, cast(0 as bigint)) AS POP_2010#2746L, ZCTA10#2636]
   :                 +- Project [COMM#2619, POP_2010#2628L, ZCTA10#2636]
   :                    +- Project [properties#2607.BG10 AS BG10#2612, properties#2607.BG10FIP10 AS BG10FIP10#2613, properties#2607.BG12 AS BG12#2614, properties#2607.CB10 AS CB10#2615, properties#2607.CEN_FIP13 AS CEN_FIP13#2616, properties#2607.CITY AS CITY#2617, properties#2607.CITYCOM AS CITYCOM#2618, properties#2607.COMM AS COMM#2619, properties#2607.CT10 AS CT10#2620, properties#2607.CT12 AS CT12#2621, properties#2607.CTCB10 AS CTCB10#2622, properties#2607.HD_2012 AS HD_2012#2623L, properties#2607.HD_NAME AS HD_NAME#2624, properties#2607.HOUSING10 AS HOUSING10#2625L, properties#2607.LA_FIP10 AS LA_FIP10#2626, properties#2607.OBJECTID AS OBJECTID#2627L, properties#2607.POP_2010 AS POP_2010#2628L, properties#2607.PUMA10 AS PUMA10#2629, properties#2607.SPA_2012 AS SPA_2012#2630L, properties#2607.SPA_NAME AS SPA_NAME#2631, properties#2607.SUP_DIST AS SUP_DIST#2632, properties#2607.SUP_LABEL AS SUP_LABEL#2633, properties#2607.ShapeSTArea AS ShapeSTArea#2634, properties#2607.ShapeSTLength AS ShapeSTLength#2635, ... 2 more fields]
   :                       +- Project [features#2603.geometry AS geometry#2606, features#2603.properties AS properties#2607, features#2603.type AS type#2608]
   :                          +- Project [features#2603]
   :                             +- Generate explode(features#2595), false, [features#2603]
   :                                +- Relation [crs#2594,features#2595,name#2596,type#2597] geojson
   +- Project [COMM#3050, TotalPopulation#3028L, NumberOfCrimes#3030L, (cast(NumberOfCrimes#3030L as double) / cast(TotalPopulation#3028L as double)) AS Crimes per Person#3034]
      +- Aggregate [COMM#3050], [COMM#3050, sum(POP_2010#3059L) AS TotalPopulation#3028L, count(1) AS NumberOfCrimes#3030L]
         +- Project [COMM#3050, POP_2010#3059L]
            +- Join Inner,  **org.apache.spark.sql.sedona_sql.expressions.ST_Within**
               :- Project [DR_NO#2826, Date Rptd#2827, DATE OCC#2828, TIME OCC#2829, AREA #2830, AREA NAME#2831, Rpt Dist No#2832, Part 1-2#2833, Crm Cd#2834, Crm Cd Desc#2835, Mocodes#2836, Vict Age#2837, Vict Sex#2838, Vict Descent#2839, Premis Cd#2840, Premis Desc#2841, Weapon Used Cd#2842, Weapon Desc#2843, Status#2844, Status Desc#2845, Crm Cd 1#2846, Crm Cd 2#2847, Crm Cd 3#2848, Crm Cd 4#2849, ... 5 more fields]
               :  +- Relation [DR_NO#2826,Date Rptd#2827,DATE OCC#2828,TIME OCC#2829,AREA #2830,AREA NAME#2831,Rpt Dist No#2832,Part 1-2#2833,Crm Cd#2834,Crm Cd Desc#2835,Mocodes#2836,Vict Age#2837,Vict Sex#2838,Vict Descent#2839,Premis Cd#2840,Premis Desc#2841,Weapon Used Cd#2842,Weapon Desc#2843,Status#2844,Status Desc#2845,Crm Cd 1#2846,Crm Cd 2#2847,Crm Cd 3#2848,Crm Cd 4#2849,... 4 more fields] parquet
               +- Project [properties#2607.BG10 AS BG10#3043, properties#2607.BG10FIP10 AS BG10FIP10#3044, properties#2607.BG12 AS BG12#3045, properties#2607.CB10 AS CB10#3046, properties#2607.CEN_FIP13 AS CEN_FIP13#3047, properties#2607.CITY AS CITY#3048, properties#2607.CITYCOM AS CITYCOM#3049, properties#2607.COMM AS COMM#3050, properties#2607.CT10 AS CT10#3051, properties#2607.CT12 AS CT12#3052, properties#2607.CTCB10 AS CTCB10#3053, properties#2607.HD_2012 AS HD_2012#3054L, properties#2607.HD_NAME AS HD_NAME#3055, properties#2607.HOUSING10 AS HOUSING10#3056L, properties#2607.LA_FIP10 AS LA_FIP10#3057, properties#2607.OBJECTID AS OBJECTID#3058L, properties#2607.POP_2010 AS POP_2010#3059L, properties#2607.PUMA10 AS PUMA10#3060, properties#2607.SPA_2012 AS SPA_2012#3061L, properties#2607.SPA_NAME AS SPA_NAME#3062, properties#2607.SUP_DIST AS SUP_DIST#3063, properties#2607.SUP_LABEL AS SUP_LABEL#3064, properties#2607.ShapeSTArea AS ShapeSTArea#3065, properties#2607.ShapeSTLength AS ShapeSTLength#3066, ... 2 more fields]
                  +- Project [features#2603.geometry AS geometry#2606, features#2603.properties AS properties#2607, features#2603.type AS type#2608]
                     +- Project [features#2603]
                        +- Generate explode(features#3040), false, [features#2603]
                           +- Relation [crs#3039,features#3040,name#3041,type#3042] geojson

== Analyzed Logical Plan ==
COMM: string, Average Income: double, Crimes per Person: double
Project [COMM#2619 AS COMM#3085, Average Income#2821, Crimes per Person#3034]
+- Join Inner, (COMM#2619 = COMM#3050)
   :- Project [COMM#2619, total_population#2815L, comm_total_income#2817, (comm_total_income#2817 / cast(total_population#2815L as double)) AS Average Income#2821]
   :  +- Aggregate [COMM#2619], [COMM#2619, sum(POP_2010#2754L) AS total_population#2815L, sum(total_income#2799) AS comm_total_income#2817]
   :     +- Project [Zip Code#2776, Community#2777, Estimated Median Income#2782, COMM#2619, ZCTA10#2636, POP_2010#2754L, (Estimated Median Income#2782 * cast(POP_2010#2754L as float)) AS total_income#2799]
   :        +- Join Inner, (ZCTA10#2636 = Zip Code#2776)
   :           :- Project [Zip Code#2776, Community#2777, cast(regexp_replace(Estimated Median Income#2778, [$,], , 1) as float) AS Estimated Median Income#2782]
   :           :  +- Relation [Zip Code#2776,Community#2777,Estimated Median Income#2778] csv
   :           +- Aggregate [COMM#2619, ZCTA10#2636], [COMM#2619, ZCTA10#2636, sum(POP_2010#2746L) AS POP_2010#2754L]
   :              +- Project [COMM#2619, coalesce(POP_2010#2628L, cast(0 as bigint)) AS POP_2010#2746L, ZCTA10#2636]
   :                 +- Project [COMM#2619, POP_2010#2628L, ZCTA10#2636]
   :                    +- Project [properties#2607.BG10 AS BG10#2612, properties#2607.BG10FIP10 AS BG10FIP10#2613, properties#2607.BG12 AS BG12#2614, properties#2607.CB10 AS CB10#2615, properties#2607.CEN_FIP13 AS CEN_FIP13#2616, properties#2607.CITY AS CITY#2617, properties#2607.CITYCOM AS CITYCOM#2618, properties#2607.COMM AS COMM#2619, properties#2607.CT10 AS CT10#2620, properties#2607.CT12 AS CT12#2621, properties#2607.CTCB10 AS CTCB10#2622, properties#2607.HD_2012 AS HD_2012#2623L, properties#2607.HD_NAME AS HD_NAME#2624, properties#2607.HOUSING10 AS HOUSING10#2625L, properties#2607.LA_FIP10 AS LA_FIP10#2626, properties#2607.OBJECTID AS OBJECTID#2627L, properties#2607.POP_2010 AS POP_2010#2628L, properties#2607.PUMA10 AS PUMA10#2629, properties#2607.SPA_2012 AS SPA_2012#2630L, properties#2607.SPA_NAME AS SPA_NAME#2631, properties#2607.SUP_DIST AS SUP_DIST#2632, properties#2607.SUP_LABEL AS SUP_LABEL#2633, properties#2607.ShapeSTArea AS ShapeSTArea#2634, properties#2607.ShapeSTLength AS ShapeSTLength#2635, ... 2 more fields]
   :                       +- Project [features#2603.geometry AS geometry#2606, features#2603.properties AS properties#2607, features#2603.type AS type#2608]
   :                          +- Project [features#2603]
   :                             +- Generate explode(features#2595), false, [features#2603]
   :                                +- Relation [crs#2594,features#2595,name#2596,type#2597] geojson
   +- Project [COMM#3050, TotalPopulation#3028L, NumberOfCrimes#3030L, (cast(NumberOfCrimes#3030L as double) / cast(TotalPopulation#3028L as double)) AS Crimes per Person#3034]
      +- Aggregate [COMM#3050], [COMM#3050, sum(POP_2010#3059L) AS TotalPopulation#3028L, count(1) AS NumberOfCrimes#3030L]
         +- Project [COMM#3050, POP_2010#3059L]
            +- Join Inner,  **org.apache.spark.sql.sedona_sql.expressions.ST_Within**
               :- Project [DR_NO#2826, Date Rptd#2827, DATE OCC#2828, TIME OCC#2829, AREA #2830, AREA NAME#2831, Rpt Dist No#2832, Part 1-2#2833, Crm Cd#2834, Crm Cd Desc#2835, Mocodes#2836, Vict Age#2837, Vict Sex#2838, Vict Descent#2839, Premis Cd#2840, Premis Desc#2841, Weapon Used Cd#2842, Weapon Desc#2843, Status#2844, Status Desc#2845, Crm Cd 1#2846, Crm Cd 2#2847, Crm Cd 3#2848, Crm Cd 4#2849, ... 5 more fields]
               :  +- Relation [DR_NO#2826,Date Rptd#2827,DATE OCC#2828,TIME OCC#2829,AREA #2830,AREA NAME#2831,Rpt Dist No#2832,Part 1-2#2833,Crm Cd#2834,Crm Cd Desc#2835,Mocodes#2836,Vict Age#2837,Vict Sex#2838,Vict Descent#2839,Premis Cd#2840,Premis Desc#2841,Weapon Used Cd#2842,Weapon Desc#2843,Status#2844,Status Desc#2845,Crm Cd 1#2846,Crm Cd 2#2847,Crm Cd 3#2848,Crm Cd 4#2849,... 4 more fields] parquet
               +- Project [properties#2607.BG10 AS BG10#3043, properties#2607.BG10FIP10 AS BG10FIP10#3044, properties#2607.BG12 AS BG12#3045, properties#2607.CB10 AS CB10#3046, properties#2607.CEN_FIP13 AS CEN_FIP13#3047, properties#2607.CITY AS CITY#3048, properties#2607.CITYCOM AS CITYCOM#3049, properties#2607.COMM AS COMM#3050, properties#2607.CT10 AS CT10#3051, properties#2607.CT12 AS CT12#3052, properties#2607.CTCB10 AS CTCB10#3053, properties#2607.HD_2012 AS HD_2012#3054L, properties#2607.HD_NAME AS HD_NAME#3055, properties#2607.HOUSING10 AS HOUSING10#3056L, properties#2607.LA_FIP10 AS LA_FIP10#3057, properties#2607.OBJECTID AS OBJECTID#3058L, properties#2607.POP_2010 AS POP_2010#3059L, properties#2607.PUMA10 AS PUMA10#3060, properties#2607.SPA_2012 AS SPA_2012#3061L, properties#2607.SPA_NAME AS SPA_NAME#3062, properties#2607.SUP_DIST AS SUP_DIST#3063, properties#2607.SUP_LABEL AS SUP_LABEL#3064, properties#2607.ShapeSTArea AS ShapeSTArea#3065, properties#2607.ShapeSTLength AS ShapeSTLength#3066, ... 2 more fields]
                  +- Project [features#2603.geometry AS geometry#2606, features#2603.properties AS properties#2607, features#2603.type AS type#2608]
                     +- Project [features#2603]
                        +- Generate explode(features#3040), false, [features#2603]
                           +- Relation [crs#3039,features#3040,name#3041,type#3042] geojson

== Optimized Logical Plan ==
Project [COMM#2619, Average Income#2821, Crimes per Person#3034]
+- Join Inner, (COMM#2619 = COMM#3050)
   :- Aggregate [COMM#2619], [COMM#2619, (sum(total_income#2799) / cast(sum(POP_2010#2754L) as double)) AS Average Income#2821]
   :  +- Project [COMM#2619, POP_2010#2754L, (Estimated Median Income#2782 * cast(POP_2010#2754L as float)) AS total_income#2799]
   :     +- Join Inner, (ZCTA10#2636 = Zip Code#2776)
   :        :- Project [Zip Code#2776, cast(regexp_replace(Estimated Median Income#2778, [$,], , 1) as float) AS Estimated Median Income#2782]
   :        :  +- Filter isnotnull(Zip Code#2776)
   :        :     +- Relation [Zip Code#2776,Community#2777,Estimated Median Income#2778] csv
   :        +- Aggregate [COMM#2619, ZCTA10#2636], [COMM#2619, ZCTA10#2636, sum(POP_2010#2746L) AS POP_2010#2754L]
   :           +- Project [features#2603.properties.COMM AS COMM#2619, coalesce(features#2603.properties.POP_2010, 0) AS POP_2010#2746L, features#2603.properties.ZCTA10 AS ZCTA10#2636]
   :              +- Filter (isnotnull(features#2603.properties.ZCTA10) AND isnotnull(features#2603.properties.COMM))
   :                 +- Generate explode(features#2595), [0], false, [features#2603]
   :                    +- Project [features#2595]
   :                       +- Filter ((size(features#2595, true) > 0) AND isnotnull(features#2595))
   :                          +- Relation [crs#2594,features#2595,name#2596,type#2597] geojson
   +- Aggregate [COMM#3050], [COMM#3050, (cast(count(1) as double) / cast(sum(POP_2010#3059L) as double)) AS Crimes per Person#3034]
      +- Project [COMM#3050, POP_2010#3059L]
         +- Join Inner,  **org.apache.spark.sql.sedona_sql.expressions.ST_Within**
            :- Project [ **org.apache.spark.sql.sedona_sql.expressions.ST_Point**   AS point#2882]
            :  +- Filter isnotnull( **org.apache.spark.sql.sedona_sql.expressions.ST_Point**  )
            :     +- Relation [DR_NO#2826,Date Rptd#2827,DATE OCC#2828,TIME OCC#2829,AREA #2830,AREA NAME#2831,Rpt Dist No#2832,Part 1-2#2833,Crm Cd#2834,Crm Cd Desc#2835,Mocodes#2836,Vict Age#2837,Vict Sex#2838,Vict Descent#2839,Premis Cd#2840,Premis Desc#2841,Weapon Used Cd#2842,Weapon Desc#2843,Status#2844,Status Desc#2845,Crm Cd 1#2846,Crm Cd 2#2847,Crm Cd 3#2848,Crm Cd 4#2849,... 4 more fields] parquet
            +- Project [features#2603.properties.COMM AS COMM#3050, features#2603.properties.POP_2010 AS POP_2010#3059L, features#2603.geometry AS geometry#2606]
               +- Filter ((isnotnull(features#2603.geometry) AND isnotnull(features#2603.properties.COMM)) AND bloomfilter#3152 of [COMM#2619] filtering [features#2603.properties.COMM])
                  :  +- Aggregate [COMM#2619, ZCTA10#2636], [COMM#2619, ZCTA10#2636, sum(POP_2010#2746L) AS POP_2010#2754L]
                  :     +- Project [features#2603.properties.COMM AS COMM#2619, coalesce(features#2603.properties.POP_2010, 0) AS POP_2010#2746L, features#2603.properties.ZCTA10 AS ZCTA10#2636]
                  :        +- Filter (isnotnull(features#2603.properties.ZCTA10) AND isnotnull(features#2603.properties.COMM))
                  :           +- Generate explode(features#2595), [0], false, [features#2603]
                  :              +- Project [features#2595]
                  :                 +- Filter ((size(features#2595, true) > 0) AND isnotnull(features#2595))
                  :                    +- Relation [crs#2594,features#2595,name#2596,type#2597] geojson
                  +- Generate explode(features#3040), [0], false, [features#2603]
                     +- Project [features#3040]
                        +- Filter ((size(features#3040, true) > 0) AND isnotnull(features#3040))
                           +- Relation [crs#3039,features#3040,name#3041,type#3042] geojson

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Project [COMM#2619, Average Income#2821, Crimes per Person#3034]
   +- SortMergeJoin [COMM#2619], [COMM#3050], Inner
      :- Sort [COMM#2619 ASC NULLS FIRST], false, 0
      :  +- HashAggregate(keys=[COMM#2619], functions=[sum(total_income#2799), sum(POP_2010#2754L)], output=[COMM#2619, Average Income#2821], schema specialized)
      :     +- Exchange hashpartitioning(COMM#2619, 1000), ENSURE_REQUIREMENTS, [plan_id=1976]
      :        +- HashAggregate(keys=[COMM#2619], functions=[partial_sum(total_income#2799), partial_sum(POP_2010#2754L)], output=[COMM#2619, sum#3100, sum#3102L], schema specialized)
      :           +- Project [COMM#2619, POP_2010#2754L, (Estimated Median Income#2782 * cast(POP_2010#2754L as float)) AS total_income#2799]
      :              +- BroadcastHashJoin [Zip Code#2776], [ZCTA10#2636], Inner, BuildLeft, false
      :                 :- BroadcastExchange HashedRelationBroadcastMode(List(input[0, string, false]),false), [plan_id=1971]
      :                 :  +- Project [Zip Code#2776, cast(regexp_replace(Estimated Median Income#2778, [$,], , 1) as float) AS Estimated Median Income#2782]
      :                 :     +- Filter isnotnull(Zip Code#2776)
      :                 :        +- FileScan csv [Zip Code#2776,Estimated Median Income#2778] Batched: false, DataFilters: [isnotnull(Zip Code#2776)], Format: CSV, Location: InMemoryFileIndex(1 paths)[s3://initial-notebook-data-bucket-dblab-905418150721/LA_income_2015.csv], PartitionFilters: [], PushedFilters: [IsNotNull(Zip Code)], ReadSchema: struct<Zip Code:string,Estimated Median Income:string>
      :                 +- HashAggregate(keys=[COMM#2619, ZCTA10#2636], functions=[sum(POP_2010#2746L)], output=[COMM#2619, ZCTA10#2636, POP_2010#2754L], schema specialized)
      :                    +- Exchange hashpartitioning(COMM#2619, ZCTA10#2636, 1000), ENSURE_REQUIREMENTS, [plan_id=1968]
      :                       +- HashAggregate(keys=[COMM#2619, ZCTA10#2636], functions=[partial_sum(POP_2010#2746L)], output=[COMM#2619, ZCTA10#2636, sum#3104L], schema specialized)
      :                          +- Project [features#2603.properties.COMM AS COMM#2619, coalesce(features#2603.properties.POP_2010, 0) AS POP_2010#2746L, features#2603.properties.ZCTA10 AS ZCTA10#2636]
      :                             +- Filter (isnotnull(features#2603.properties.ZCTA10) AND isnotnull(features#2603.properties.COMM))
      :                                +- Generate explode(features#2595), false, [features#2603]
      :                                   +- Filter ((size(features#2595, true) > 0) AND isnotnull(features#2595))
      :                                      +- FileScan geojson [features#2595] Batched: false, DataFilters: [(size(features#2595, true) > 0), isnotnull(features#2595)], Format: GEOJSON, Location: InMemoryFileIndex(1 paths)[s3://initial-notebook-data-bucket-dblab-905418150721/2010_Census_Block..., PartitionFilters: [], PushedFilters: [IsNotNull(features)], ReadSchema: struct<features:array<struct<geometry:binary,properties:struct<BG10:string,BG10FIP10:string,BG12:...
      +- Sort [COMM#3050 ASC NULLS FIRST], false, 0
         +- HashAggregate(keys=[COMM#3050], functions=[count(1), sum(POP_2010#3059L)], output=[COMM#3050, Crimes per Person#3034], schema specialized)
            +- Exchange hashpartitioning(COMM#3050, 1000), ENSURE_REQUIREMENTS, [plan_id=2064]
               +- HashAggregate(keys=[COMM#3050], functions=[partial_count(1), partial_sum(POP_2010#3059L)], output=[COMM#3050, count#3106L, sum#3108L], schema specialized)
                  +- Project [COMM#3050, POP_2010#3059L]
                     +- RangeJoin point#2882: geometry, geometry#2606: geometry, WITHIN
                        :- Project [ **org.apache.spark.sql.sedona_sql.expressions.ST_Point**   AS point#2882]
                        :  +- Filter isnotnull( **org.apache.spark.sql.sedona_sql.expressions.ST_Point**  )
                        :     +- FileScan parquet [LAT#2852,LON#2853] Batched: true, DataFilters: [isnotnull( **org.apache.spark.sql.sedona_sql.expressions.ST_Point**  )], Format: Parquet, Location: InMemoryFileIndex(1 paths)[s3://groups-bucket-dblab-905418150721/group35/main_dataset_parquet], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<LAT:string,LON:string>
                        +- Project [features#2603.properties.COMM AS COMM#3050, features#2603.properties.POP_2010 AS POP_2010#3059L, features#2603.geometry AS geometry#2606]
                           +- Filter ((isnotnull(features#2603.geometry) AND isnotnull(features#2603.properties.COMM)) AND bloomfilter#3152 of [bf3152 COMM#2619 estimatedNumRows=294857] filtering [features#2603.properties.COMM])
                              :  +- GenerateBloomFilter bf3152, 294857, 0, false, false, false, true, [id=#2058]
                              :     +- OutputAdapter [COMM#2619, ZCTA10#2636, sum#3104L]
                              :        +- AdaptiveSparkPlan isFinalPlan=false
                              :           +- Exchange hashpartitioning(COMM#2619, ZCTA10#2636, 1000), ENSURE_REQUIREMENTS, [plan_id=2055]